.error {
	color: #900;
}

.notification {
	background-position: 8px 9px;
	background-repeat: no-repeat;
	border: medium none;
	border-radius: 3px;
	clear: both;
	display: block;
	margin: 10px 3px;
	min-height: 20px;
	padding: 5px 5px 5px 30px;
}

.notification.error {
	border-color: #d95340;
}
.notification.error {
	background-color: #f2d4ce;
}
.notification {
	background-position: 8px 9px;
	background-repeat: no-repeat;
	border: medium none;
	border-radius: 3px;
	clear: both;
	display: block;
	margin: 10px 3px;
	min-height: 20px;
	padding: 5px 5px 5px 30px;
}

